<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h3>가계부</h3>

    <div class="input"><!--입력-->
 <!--
        <input class="name" type="text" placeholder="항목">
        <input class="price"type="text" placeholder="가격">
        <button onclick="write()" type="button">등록</button>

-->
    </div>

    <div class="print"><!--출력-->
<!--        <div class="box">
            <span class="pname">항목</span>
            <span class="pprice">19999</span>
            <button onclick="update()" type="button">수정</button>
            <button  onclick="delete()" type="button">삭제</button>
        </div>-->


    </div>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/account.js"></script>
</body>
</html>